body{
    background-color: whitesmoke !important;
}

.homepage-border{
    border: 1px solid black;
    border-radius: 12px;
    width: 14%;
    height: auto;
    float: left;
    margin-right: 10px;
    padding: 5px;
}

.quiz-image{
    width: 30px;
    height: 2px;
}

.quiz-button{
    border-radius: 12px;
    background-color:lightgray;
    width: 100%;
}

.leaderboard-table{
    width: 70%;
    margin: 2%;
}

.quiz-navbar{
    height: 100px;
    background-color: lightblue;
    border-radius: 12px 12px 0px 0px ;
}

.quiz-navbar-header{
    padding-top: 3px;
    padding-left: 8px;
    font-size: 30px;
    float: left;
}

.quiz-navbar-ul{
    list-style-type: none;
    padding-top: 3px;
}

.quiz-navbar-li{
    font-size: 19px;
    float: right;
    padding-right: 7px;
    text-decoration: none;
}

.main-page-area{
    height: auto;
    clear: both;
    min-height: 800px;
    border-radius: 0px 0px 12px 12px;
    padding-top: 0px;
}

.quiz-button{
    width: 88px;
    height: 40px;
    background-color:cadetblue
}

.quiz-link-button{
    min-width: 260px;
    border-radius: 10px;

}

.quiz-info-area{
    min-width: 260px;
    margin-top: 15px;
}

.quiz-link-img{
    width: 260px; 
    height: 150px;
    border-radius: 10px;
}

/* Variabes */  
$orange: #ffa600;
$grey:#f3f3f3;
$white: #fff;
$base-color:$orange ;


/* Mixin's */  
@mixin transition {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
@mixin corners ($radius) {
-moz-border-radius: $radius;
-webkit-border-radius: $radius;
border-radius: $radius; 
-khtml-border-radius: $radius; 
}

body {
background:$base-color;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
height:100%;
}

.wrapper {
width: 800px;
margin: 30px auto;
color:$white;
text-align:center;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:2em;
}

button{
@include corners (5px);
background:$base-color;
color:$white;
border: solid 1px $white;
text-decoration:none;
cursor:pointer;
font-size:1.2em;
padding:18px 10px;
width:180px;
margin: 10px;
 outline: none;
  &:hover{
	@include transition;
	background:$white;
	border: solid 1px $white;
	color:$base-color;
	}
}







